<h2 align="center">Impressum</h2>

<table>

<% @impressums.each do |impressum| %>
  <tr>
    <td><%= raw impressum.impressum %></td>
  </tr>
  <tr>
    <td> <br /> </td>
  </tr>
  <tr>
    <td><%= link_to 'Edit', edit_impressum_path(impressum) %></td>
  </tr>
<% end %>
</table>
